<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <title>Computer Status Information</title>
    </h:head>
    <h:body>
        <h1>Computer Status Information</h1>
        <h:messages></h:messages>
        <h:form>
            <h:panelGrid id="commands" columns = "3" border="0">
                <h:commandButton id="requestInfo" action="#{computerStatusBean.requestInfo()}" value="Retrieve all information"></h:commandButton>

                <h:commandButton id="refresh" action="#{computerStatusBean.refresh()}" value="Retrieve latest information"></h:commandButton>

                <h:commandButton id="getcomputers" action="#{computerStatusBean.retrieveComputerInfo()}" value="Retrieve computers information"></h:commandButton>
            </h:panelGrid>
            <h:panelGroup id="output">
                <h:outputText id="infoLabel" value="Computer Information: "></h:outputText>
                <h:panelGroup id="infogrp" rendered="#{computerStatusBean.enableInfo}">
                    <h:commandButton id="first" action="#{computerStatusBean.firstRecords()}" value="First 25" rendered="#{computerStatusBean.renderPrevious}"/>
                    <h:commandButton id="prev" action="#{computerStatusBean.previousRecords()}" value="Previous 25" rendered="#{computerStatusBean.renderPrevious}"/>
                    <h:commandButton id="next" action="#{computerStatusBean.nextRecords()}" value="Next 25" rendered="#{computerStatusBean.renderNext}"/>
                    <h:commandButton id="last" action="#{computerStatusBean.lastRecords()}" value="Last 25" rendered="#{computerStatusBean.renderNext}"/>
                    <h:dataTable id="information" var="info" value="#{computerStatusBean.computerStatusInfo()}" border="1">

                        <h:column>
                            <f:facet name="header">Computer Id</f:facet>
                            <h:outputText value="#{info.status.computer.computerId}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">Computer Name</f:facet>
                            <h:outputText value="#{info.status.computer.computerName}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">Inactive</f:facet>
                            <h:outputText value="#{info.status.computer.inActive}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">Status</f:facet>
                            <h:outputText value="#{info.status.statusIndicator}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">Status Scan Date</f:facet>
                            <h:outputText value="#{info.status.scanDateTime}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">Drive</f:facet>
                            <h:outputText value="#{info.disk.drive}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">Free Diskspace</f:facet>
                            <h:outputText value="#{info.disk.freeDiskspace}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">Formatted Free Diskspace</f:facet>
                            <h:outputText value="#{info.disk.freeDiskspaceFormatted}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">Disk Scan Date</f:facet>
                            <h:outputText value="#{info.disk.scanDateTime}"/>
                        </h:column>
                    </h:dataTable>

                </h:panelGroup>
                <h:panelGroup id="computergrp" rendered="#{computerStatusBean.enableComputers}">
                    <h:outputText id="computerLabel" value="Computers: "></h:outputText>
                    <h:dataTable id="computers" var="computer" value="#{computerStatusBean.computersInfo()}" border="1">

                        <h:column>
                            <f:facet name="header">Computer Id</f:facet>
                            <h:outputText value="#{computer.computerId}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">Computer Name</f:facet>
                            <h:outputText value="#{computer.computerName}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">Inactive</f:facet>
                            <h:outputText value="#{computer.inActive}"/>
                        </h:column>

                        <h:column>
                            <f:facet name="header">Activate/Inactivate</f:facet>
                            <h:commandButton value="Inactivate" action="#{computerStatusBean.inActivateComputer(computer)}" rendered="#{!computer.inActive}"/>
                            <h:commandButton value="Activate" action="#{computerStatusBean.activateComputer(computer)}" rendered="#{computer.inActive}"/>
                        </h:column>
                    </h:dataTable>

                </h:panelGroup>
            </h:panelGroup>
        </h:form>
    </h:body>

</html>