<?xml version = "1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:ui = "http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

<f:view>
    <h:head>
        <title>Computer Status Information</title>
    </h:head>
    <h:body>
        <h1>Computer Status Information</h1>
        <h:messages></h:messages>
        <h:form>
            <h:outputText id="computerNameLabel" value="Computer name: "/>
            <h:inputText id="computerNameInput" value="#{computerStatusBean.computerName}"/>
            <br></br>
            <br></br>
            <h:commandButton id="requestInfo" action="#{computerStatusBean.requestInfo()}" value="Request computer information"></h:commandButton>
            <br></br>
            <br></br>
            <h:panelGroup id="output">
                <h:outputText id="infoLabel" value="Computer Information: "></h:outputText>
                <h:inputTextarea id="info" value="#{computerStatusBean.outputInfo}" style="width: 500px;"></h:inputTextarea>
            </h:panelGroup>
        </h:form>
    </h:body>
</f:view>


</html>